:root {
  color-scheme: light dark;
  --bg-color-light: #f4f4f4;
  --bg-color-dark: #1f2937;
  --text-light: #353535;
  --text-dark: #fff;
  --card-white: #fff;
  --card-dark: #273549;
  --card-title-white: #5a537b;
  --card-title-dark: #ccc1ff;
}

body {
  margin: 0;
  padding: 0;
  background-color: light-dark(var(--bg-color-light), var(--bg-color-dark));
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #6943ff;
  padding: 2rem 0;
  min-height: 285px;
  gap: 1.5rem;
  width: 550px; /* Set fixed width */
}

#flex-container h1 {
  margin: 0;
  color: white;
  line-height: 38px;
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-size: 28px;
  text-align: center;
}

#input-field {
  width: 150px;
  height: 83px;
  border: 2px solid #b295ff;
  border-radius: 5px;
  background: transparent;
  text-align: center;
  font-size: 58px;
  color: white;
  font-weight: 600;
  outline: none;
  margin: 1rem 0;
}

#input-field::placeholder {
  color: #ffffff80;
}

#input-field::-webkit-inner-spin-button,
#input-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#convert-btn {
  margin: 0;
  border-radius: 5px;
  width: 100px;
  padding: 1rem;
  border: none;
  background-color: white;
  color: #3d3d3d;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#convert-btn:hover {
  background-color: #f4f4f4;
}

#conversion-section {
  margin-top: 2rem;
  display: flex;
  gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  width: 550px; /* Same width as flex-container */
}

.unit-conversion-container {
  background-color: light-dark(var(--card-white), var(--card-dark));
  width: 100%; /* Will take full width of parent (550px) */
  text-align: center;
  padding: 1rem 0;
  border-radius: 5px;
}

.unit-conversion-container h3 {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: light-dark(var(--card-title-white), var(--card-title-dark));
  font-size: 20px;
  margin-top: 1rem;
}

.unit-conversion-container p {
  margin: 2em auto;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: light-dark(var(--text-light), var(--text-dark));
  font-size: 16px;
}

/* Add media query for smaller screens */
@media (max-width: 600px) {
  #flex-container,
  #conversion-section {
    width: 90%; /* Use percentage for smaller screens */
  }
}
